/models/artilife/budSeg/Bud_Seg.h5
**/.tif
.DS_Store
**/__pycache__
**/.DS_Store
**/.hdf5
**/.h5
/test
*.ti
*.txt
/models/artilife/artilife
/models/budNET/extra_weights
/models/budNET/budNET.h5
/models/matSeg/matSeg
/models/tetradSeg/tetradSeg
/models/vacNET/vacNET.h5
/models/YeaZ/YeaZ_brightfield.hdf5
/models/YeaZ/YeaZ_phasecontrast.hdf5
