build/
dist/
yeastvision.egg-info/
/yeastvision/models/artilife/budSeg/Bud_Seg.h5
**/.tif
.DS_Store
/yeastvision/.DS_Store
**/__pycache__
**/.DS_Store
**/.hdf5
**/.h5
/test
*.tif
/yeastvision/models/artilife/artilife
/yeastvision/models/artilife/artilife_bud
/yeastvision/models/budNET/extra_weights
/yeastvision/models/budNET/budNET.h5
/yeastvision/models/matSeg/matSeg
/yeastvision/models/tetradSeg/tetradSeg
/yeastvision/models/vacNET/vacNET.h5
/yeastvision/models/YeaZ/YeaZ_brightfield.hdf5
/yeastvision/models/YeaZ/YeaZ_phasecontrast.hdf5
/yeastvision/ims/rife_model/flownet.pkl
