build/
dist/
yeastvision.egg-info/
.DS_Store
/yeastvision/.DS_Store
**/__pycache__
**/.DS_Store
**/.hdf5
**/.h5
/test
yeastvision/ims/rife_model/flownet.pkl
yeastvision/models/budSeg/budSeg
yeastvision/models/proSeg/proSeg
yeastvision/models/matSeg/matSeg
yeastvision/models/spoSeg/spoSeg
data/sample_movie_old
*.npz